---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

My research interests include neutron stars, the many-body physics of nuclear matter, chiral effective
field theory, and Bayesian methods for quantifying theoretical uncertainties. I'm also interested
in developing fast & accurate emulators for complex calculations using Eigenvector Continuation and
transferring ideas from applied mathematics and computer science to nuclear physics. In particular,
I'm working on state-of-the-art microscopic constraints on the nuclear equation of state at zero and
finite temperature for improved astrophysical simulations in the era of multi-messenger astronomy.
My research also aims to improve chiral interactions for accurate nuclear-structure calculations of
medium-mass to heavy nuclei and guide energy density functionals in the neutron-rich regime.

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

